body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    flex-grow: 1;
}
.iconos-footer
{
    font-size: 30px;
}
.img-banner
{
    height: 450px;
    width: 100%;
    object-fit: cover;
    
}
.ancho-card
{
 width: 350px;
}