body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main
{
    flex-grow: 1;
}
.iconos-footer
{
    font-size: 30px;
}
.img-banner
{
    height: 450px;
    width: 100%;
    object-fit: cover;
    
}
.ancho-card
{
width: 340px;
}
.fondo-verde
{
    width: 70px;
    height: 30px;
    background-color: rgb(82, 224, 82);
    border-radius: 5px;
   
    text-align: center;
    font-weight: bold;
   
}
.fondo-lila
{
    width: 70px;
    height: 30px;
    background-color: rgb(186, 53, 204);
    border-radius: 5px;
    
    color: white;
    text-align: center;
    font-weight: bold;
   
}
.fondo-naranja
{
      width: 70px;
    height: 30px;
    background-color: orange;
    border-radius: 5px;
   
    color: white;
    text-align: center;
    font-weight: bold;
}
.fondo-celeste
{
      width: 70px;
    height: 30px;
    background-color: rgb(107, 177, 243);
    border-radius: 5px;
    margin: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.fondo-azul
{
      width: 70px;
    height: 30px;
    background-color: rgb(1, 62, 119);
    border-radius: 5px;
    
    color: white;
    text-align: center;
    font-weight: bold;
}
.fondo-verde-bicho
{
    width: 70px;
    height: 30px;
    background-color: rgb(82, 224, 82);
    border-radius: 5px;
   
    text-align: center;
    font-weight: bold;
    color: white;
   
}
.fondo-hielo
{
    width: 70px;
    height: 30px;
    background-color: rgb(47, 118, 184);
    border-radius: 5px;
   
    text-align: center;
    font-weight: bold;
    color: black;
}
.fondo-turquesa
{
     width: 70px;
    height: 30px;
    background-color: rgb(184, 47, 184);
    border-radius: 5px;
   
    text-align: center;
    font-weight: bold;
    color: white;
}
.contenedor-detalle
{
    height: 350px;
    border-radius: 5px;
    font-size: 18px;
}
.img-error404
{
    width: auto;
    height: auto;
    object-fit: cover;
}
.btn-volver
{
    width: 200px;
    height: 45px;
    font-size: 22px;
    border-radius: 20px;
    color: white;

   
}